.Header {
  width: 100%;
  background-color: #252D4E;
  height: 100px;
  color: white;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.LogoBox {
  display: flex;
  justify-content: flex-start;
}

.Logo {
  margin: auto 40px;
  justify-content: flex-start;
  height: 50px;
  box-shadow: 0 0 5px #aaaaaa;
}

p {
  margin: auto;
}

.NavigationItems {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  width: 30%;
}

.activePage {
  color: #C7BCF8;
}

li {
  display: flex;
  color: white;
  margin: auto;
}

a {
  color: #fff;
  text-decoration: none;
}

.Logout {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #C7BCF8;
  font-weight: normal;
  font-size: 0.8rem;
}

.Logout:hover {
  background-color: #ccc;
}
