body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ELEMENT STYLES -------------------- */

body {
  background: #e8e7e7;
  font-family: arial;
  text-transform: uppercase;
}

header {
  color: #FFF;
  padding: 5px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #252D4E;
  border-bottom: solid 2px #505671;
}

header h1 {
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: normal;
}

/* FORMS */

form {
  display: flex;
  background-color: #252D4E;
}

input[type=text] {
  flex-grow: 1;
  border-width: 0 0 1px 0;
  margin: 15px 10px 15px 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #9296a6;
  border-style: none;
  text-shadow: none;
  text-transform: uppercase;
  color: #C7BCF8;
  letter-spacing: 2px;
  outline: none;
}

input[type=text]::-webkit-input-placeholder{
  color: #C7BCF8;
  letter-spacing: 2px;
}

input[type=text]:focus{
  background-color: rgba(0, 0, 0, 0.2);
}

input[type=submit] {
  display: block;
  font-size: .6em;
  margin: 15px 15px 15px 0;
  padding: 10px;
  background-color: #9296a6;
  border-radius: 5px;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
}

button,
input[type=submit] {
  outline: none;
  transition: background-color 0.2s ease,
              color 0.2s ease;
}


/* ICONS */

svg {
  width: 28px;
  height: 19px;
  margin-right: 5px;
  fill: #F0F0F0;
}

@keyframes grow {
  50% { transform: scale(1.4) rotate(-3deg); }
}

/* COMPONENT STYLES -------------------- */

.get-recipes {
  min-width: 300px;
  width: 50%;
  display: block;
  font-size: .8em;
  margin: 20px auto;
  padding: 10px;
  background-color: #252D4E;
  border-radius: 5px;
  border: 5px solid #9296a6;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease,
              color 0.2s ease;

}

.get-recipes:hover {
    background: #9296a6;
    color: black;
}

.center-align {
  text-align: center;
}

.kitchenpantry {
  background: #fff;
  width: 700px;
  margin: 50px auto;
  box-shadow: 0 2px 0 #505671;
  border-radius: 6px;
  overflow: hidden;
}

.food {
  display: flex;
  font-size: 1.2em;
  border-bottom: solid 2px #EEEEEE;
  letter-spacing: 2px;
}

  .food:last-of-type {
    border-bottom-color: #505671;
  }

  .food-name:hover .remove-player {
    visibility: visible;
  }

  .food-name,
  .counter-weight {
    color: #2F2366;
  }

  .food-name {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 2.6em;
    padding-left: 10px;
  }

  .remove-food {
    font-size: 1.15em;
    border: none;
    outline: none;
    visibility: hidden;
    color: #EF5350;
    cursor: pointer;
    margin: 0 10px 0 0;
    padding: 0;
    background: none;
  }

.stats {
  margin: 0 0 0 28px;
  font-weight: normal;
  width: 170px;
}

  .stats td:first-child {
    text-align: left;
    font-weight: normal;
    letter-spacing: 2px;
    font-size: .7em;
    max-width: 1em;
  }

  .stats td:last-child {
    text-align: left;
  }

.weight {
  display: flex;
  width: 190px;
}

  .weight-action {
    border: none;
    font-size: 1.15em;
    font-weight: bold;
    color: #B0AEBA;
    background-color: #DCDCDC;
    display: block;
    padding: 20px 20px;
    cursor: pointer;
    outline: none;
  }

  .weight-action:hover {
    color: #fff;
  }

  .increment:hover {
    background: #83D97C;
  }

  .decrement:hover {
    background: #EF5350;
  }

  .weight-amount {
    flex-grow: 1;
    text-align: center;
    font-family: monospace;
    font-size: 1.8em;
    line-height: 2em;
  }
